.tamFotos, .fotoNosotros {
  height: 50vh;
  width: 80vw; }

* {
  padding: 0;
  margin: 0; }

header {
  background-color: #5C3434;
  top: 0px;
  height: fit-content;
  color: white; }

body {
  background-color: #A87171;
  width: 100%;
  height: 100%; }

main {
  background-color: #A87171;
  list-style: none;
  width: 100%;
  height: 100%; }

footer {
  background-image: linear-gradient(#5C3434, #301d1d);
  height: 100px;
  color: white; }

/*  Scrollbar CSS  */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #A87171 #5C3434; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px; }

*::-webkit-scrollbar-track {
  background: #5C3434; }

*::-webkit-scrollbar-thumb {
  background-color: #A87171;
  border-radius: 10px;
  border: 3px solid #5C3434; }

.navbar-toggler {
  background-color: #A87171; }

a {
  text-decoration: none;
  color: white;
  font-size: 135%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.logo {
  width: 100px; }

.nav-link {
  transition: transform 0.3s, font-weight 0.3s, text-decoration 0.3s; }
  .nav-link:hover {
    transform: scale(1.05);
    color: white;
    text-decoration: underline; }

.redesSociales {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }
  .redesSociales li {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px; }
    .redesSociales li p {
      color: white;
      font-size: 35px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center; }

.logoRedSocial {
  transition: transform 0.3s, font-weight 0.5s; }
  .logoRedSocial:hover {
    transform: scale(1.2);
    color: white;
    font-weight: 500; }

.tamFotos, .fotoNosotros {
  height: 50vh;
  width: 80vw; }

.asideNosotros {
  width: fit-content;
  height: fit-content;
  align-self: center;
  background-color: #BF8177; }
  .asideNosotros p {
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    color: white;
    font-weight: 400;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
