*{ margin: 0; padding: 0;}
header{
    background-color: #5C3434;
    top: 0px;
    height: fit-content;
    color: white;
}
footer{
    background-image: linear-gradient(#5C3434, #301d1d);
    height: 100px;
    color: white;
}
main{
    background-color: #A87171; 
    list-style:none;
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #A87171; 
}

/*  Scrollbar CSS  */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #A87171 #5c3434;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #5c3434;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #A87171;
    border-radius: 10px;
    border: 3px solid #5c3434;
  }

  /* HEADER */
.navbar-toggler{background-color: #A87171;}
a{
    text-decoration: none;
    color: white;
    font-size: 135%;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
} 
.logo{
    width: 100px;
}
.nav-link{
    transition: transform 0.3s, font-weight 0.5s;
}
.nav-link:hover{
    transform: scale(1.2);
    color: white;
    font-weight: 500;
}

/* FOOTER */

.redesSociales{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
 .redesSociales li{
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.logoRedSocial{
    transition: transform 0.3s, font-weight 0.5s;
}
.logoRedSocial:hover{
    transform: scale(1.2);
    color: white;
    font-weight: 500;
}
.redesSociales li p{
    color: white;
    font-size: 35px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
}

/* INDEX */


/* Fotos Tortas */
.fotoTortaInicio{
    height: 25vw;
    width: 24.5vw;
}
/* Reviews */
.reviews section{
    background-color: #BF8177;
    width: 155px;
    height: 260px;
    border-radius: 15px;
    /* display: flex;
    flex-wrap: nowrap; */
}
/* .listaReviews{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
} */
.reviews p{
    background-color: #d69287c9;
    border-radius: 0px 0px 15px 15px;
    /* width: 135px;
    height: 150px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-left: 8px;
    padding-top: 8px;
    margin-left: 6px;
    color: white; */
}
.reviews img{
    width: 70px;
    height: 70px;
    /* padding-left: 42px;
    padding-top: 15px; */
}
/* .reviews li{
    list-style:none;
} */

/* NOSOTROS */

/* .contenedorNosotros{
    display: grid;
    grid-template-areas: 
        "cabecera cabecera"
        "mainNosotro asideNosotros"
        "mainNosotro asideNosotros"
        "pie pie"
    ;
    gap: 20px;
} */
/* .mainNosotros{
    grid: mainNosotro;
} */
.fotoNosotros{
    height: 50vh;
    width: 70vw;
}
.asideNosotros{
    width: fit-content;
    align-self: center;
    height: fit-content;
    background-color: #BF8177;
}
.textoNosotros{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    color: white;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* PRODUCTOS */
/* .contenedorProductos{
    display: grid;
    grid-template-areas: 
        "cabecera"
        "productos"
        "pie"
    ;
    gap: 20px;
} */
/* .productos{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
} */
.productos img{
    height: 160px;
    width: 160px;
    border-radius: 25px;
}
.productos li{
    
    /* padding: 30px 80px 30px 80px; */
    width: fit-content;
}
.productos li p{
    text-align: center;
    width: 200px;
    color: white;
    background-color: #A87171;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.productosLista{
    list-style: none;
    width: fit-content;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr); */
    border-radius: 30px;
    background-color: #BF8177;
}

/* CLASES */

/* .contenedorClases{
    display: grid;
    grid-template-areas: 
        "cabecera cabecera"
        "mainClases asideClases"
        "mainClases asideClases"
        "pie pie"
    ;
    gap: 20px;
} */
/* .mainClases{
    grid: mainClases;
} */
.asideClases{
    /* grid: asideClases;
    align-self: center; */
    height: fit-content;
    background-color: #BF8177;
    /* adding: 20px;
    margin: 10px; */
}
.fotoClases{
    /* padding: 20px; */
    height: 50vh;
    width: 70vw;
}
.textoClases{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding: 15px;
}
.textoClases h3{
    font-size: 20px;
}

/* CONTACTO */

/* .contenedorContacto{
    display: grid;
    grid-template-areas: 
        "cabecera cabecera"
        "mainClases mapa"
        "mainClases mapa"
        "pie pie"
    ;
    gap: 20px;
} */
/* .mainClases{
    grid: mainClases;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.formulario{
    background-color:#BF8177;
    padding: 25px;
    margin: 10px;
    color: white;
}
.formulario div{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario h3{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
/* .mapa{
     grid: mapa; 
     width: 100%;
}  */
.mapa iframe{
    /* padding: 20px; */
    height: 60vh;
    width: 53vw;
}

@media screen and (max-width: 768px) {
    
    /* HEADER */

/* header{
    height: 110px;
    width: 100%; 
} */
/* .cabecera{
    display: grid;
    grid-template-areas:
        "logo"
        "barraNavegacion"
    ;
} */
/* a{
    font-size: 120%;  
}  */
/* .botonInicio{
    display: none;
} */
/* .logo{
    height: 90px;
    width: 90px;
    padding: 0%;
    margin-top: 10px;
    margin-left: 10px;
    grid: logo;
} */
/* .barraNavegacion_lista{
    left:0px;
    background-color: #5c3434de;
}
.barraNavegacion_lista li{
    grid: barraNavegacion;
    padding: 10px;
}
.barraNavegacion{
    display: flex;
    justify-content: center;
    left: 0px;
    margin-top: 0px;
    width: 100vw;
    
} */

    /* INDEX */

/* .imagenesInicio{
    height: 290px;
    width: 100%;
}
.listaImagenes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.foto4{
    display: none;
}
.foto2{
    display: none;
}
.foto3{
    display: none;
}
.fotoTortaInicio{
    height: 350px;       
    width: 100%;
} */


    /* NOSOTROS */

/* .contenedorNosotros{
    display: grid;
    grid-template-areas: 
        "cabecera"
        "mainNosotro"
        "asideNosotros"
        "pie"
    ;
    gap: 20px;
} */
/* .fotoNosotros{
    padding: 20px;
    height: 50vh;
    width: 100vw;
} */

    /* PRODUCTOS */

/* .productosLista{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    border-radius: 30px;
    background-color: #BF8177;
} */

    /* CLASES */

/* .contenedorClases{
    display: grid;
    grid-template-areas: 
        "cabecera"
        "mainClases"
        "asideClases"
        "pie"
    ;
    gap: 20px;

}
.fotoClases{
    grid: fotoClases;
    padding: 20px;
    height: 60vh;
    width: 100vw;
} */

    /* CONTACTO */

/* .contenedorContacto{
    display: grid;
    grid-template-areas: 
        "cabecera"
        "mainClases"
        "mapa"
        "pie"
    ;
    gap: 20px;
}
.mapa iframe{
    width: 100vw;
}
.formulario{
    background-color:#BF8177;
    margin: 25px;
    padding: 25px;
    width: 100vw;
} */
}
