/* Fotos Tortas */
.fotoTortaInicio{
    @include width-hight(24.5vw,25vw);
}
@media only screen and (max-width: 576px) {
    .foto4{
        display: none;
    }
    .foto2{
        display: none;
    }
    .foto3{
        display: none;
    }
    .fotoTortaInicio{
        @include width-hight(100vw,350px);
    }
    
}
/* Reviews */
.reviews{
    section{
    background-color:map-get($color , complementario);
    @include width-hight(155px,260px);
    border-radius: 15px;
    }
    p{
        background-color: #d69287c9;
        border-radius: 0px 0px 15px 15px;
    }
    img{
        @include width-hight(70px,70px);
        margin-left: 30px;
    }
}
