.fotoNosotros{
    height: 50vh;
    width: 80vw;
}
.asideNosotros{
    width: fit-content;
    align-self: center;
    height: fit-content;
    background-color: $colorComplementario;
    p{
        text-align: center;
        margin: 20px;
        padding: 20px;
        font-size: medium;
        color: $colorLetras;
        font-weight: 400;
        font-family: $fontParrafo;

    }
}